body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

section {
    max-height: 644px;
}

.ab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 64px;
    height: 300px;
    text-align: center;
}

.ab>img {
    max-width: 100px;
    margin-left: 30px;
    margin-bottom: 15px;
}

/* #ch_th {
    position: relative;

}

#chart {
    position: absolute;
    top: -169px;
    left: 357px;
}

#chart>img {
    height: 298.31146240234375px;
    width: 207.36553955078125px;
}

#thinking {

    position: absolute;
    top: -188px;
    right: 60px;
    z-index: 1;
}

#thinking>img {
    height: 474px;
    width: 324px;


} */